@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../fonts/Roboto-BlackItalic.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-BoldCondensed';
    src: url('../fonts/Roboto-BoldCondensed.ttf');
}
@font-face {
    font-family: 'Roboto-BoldCondensedItalic';
    src: url('../fonts/Roboto-BoldCondensedItalic.ttf');
}
@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('../fonts/Roboto-BoldItalic.ttf');
}
@font-face {
    font-family: 'Roboto-Condensed';
    src: url('../fonts/Roboto-Condensed.ttf');
}
@font-face {
    font-family: 'Roboto-CondensedItalic';
    src: url('../fonts/Roboto-CondensedItalic.ttf');
}
@font-face {
    font-family: 'Roboto-Italic';
    src: url('../fonts/Roboto-Italic.ttf');
}
@font-face {
    font-family: 'Roboto-Light_0';
    src: url('../fonts/Roboto-Light_0.ttf');
}

   
#page-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1024px;
    height: 60px;
    background-color: #fff;
}
.page-header__logo{
    display: inline-block;
    height: 34px;
    width: 250px;
    background-size: auto 100%;
    background-position: center;
}

.page-header__logo a{
    display: block;
    height: 34px;
    width: 250px;
}

.logo{
    border: 0px solid;
    background-image: url('/images/logos/big-logo.png');
    background-repeat: no-repeat;
/*    background-size: auto 100%;*/
    text-align: center;
}

.page-header__description{
    display: flex;
    justify-content: flex-start;
    width: 205px;
    padding: 0 10px 0 10px;
    text-transform: uppercase;
    font-size: 17px;
    color: #353535;
    line-height: 1.1;
    font-family: Roboto-Black;
}

.page-header__time{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    padding: 0 0 0 15px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    color: #0e6850;
    line-height: 1;
    border-left: 1px solid #0e6850;
    border-right: 1px solid #0e6850;
    font-family: Roboto-Black;
}

.clock-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 30px;
    margin-left: 5px;
    background-image: url('/images/clock.png');
    background-repeat: no-repeat;
    background-position: center left;
}

.time{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
}

.flag{
    width: 12px;
    height: 12px;
    margin-left: 17px;
    background-image: url('/images/flag.png');
    background-repeat: no-repeat;
}

.count{
    width: 12px;
    height: 12px;
    margin-left: 4px;
    padding-bottom: 8px;
    font-size: 18px;
    font-family: Roboto-Condensed;
    color: #353535;
}

.arrows{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.arrow_up,
.arrow_down{
    width: 13px;
    height: 8px;
    padding: 10px 20px 10px 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.arrow_up{
    background-image: url('/images/arrow_up.png');
}
.arrow_down{
    background-image: url('/images/arrow_down.png');
}

.page-header__user-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 60px;
    padding: 0 20px;
    border-right: 1px solid #0e6850;
}

.user-name{
    font-family: Roboto-Black;
    font-size: 15px;
    letter-spacing: 0.06em;
    color: #0e6850;
}

.user-position{
    font-family: Roboto-Italic;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #353535;
}

.page-header__logout{
    height: 60px;
    width: 72px;
    /*padding: 0 25px;*/
    background-image: url('/images/logout.png');
    background-repeat: no-repeat;
    background-position: center;
}

.page-header__logout a{
    display: block;
    height: 60px;
    width: 72px;
}



/*
#mainmenu{
    position: relative;
    border: 0px solid;
    height: 25px;
    padding: 0;
    //background-color: #2F5C3B;
    background-color: #D5D9DA;
    z-index: 10;
    width: 100%;
    min-width: 1024px;
}

#mainmenu ul, /* сбрасываем поля и отступы у списков *//*
#mainmenu ul ul {
    list-style:none;
    padding:0;
    margin:0;
}

#mainmenu ul {    
    clear:left;
    position: relative;
    height:20px;
    float:left;
    text-align:center;
    font:14px Arial, Helvetica, sans-serif;
}

#mainmenu ul li {
    position:relative;
    float:left;
    height:25px;
    padding-left: 5px;
    padding-top: 5px;
    margin:0;
    background-color: #D5D9DA;
    //background: linear-gradient(to bottom, #2F5C3B, #2FC83B);
    //background-color: greenyellow;
    min-width: 150px;
}

#mainmenu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#mainmenu ul li:hover {
    background-color: silver;
}

#mainmenu ul li ul {
    opacity: 0;
    visibility: hidden;
    position:absolute;
    left:0;
    top:25px;
    font-size:14px;
    height:auto;
    width:250px;
    border: 0px solid;
    
}

#mainmenu ul li ul li {
    position:relative;
    left:0;
    float:none;
    min-height: 20px;
    height:auto;
    margin:0;
    text-align:left !important;
    border: 0px solid;
    background-color: coral;
    padding-top: 5px;
}

#mainmenu ul li ul li ul {
    top: 0;
    left: 250px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*//*
    background-color: gold;
}

#mainmenu ul li a {
    text-decoration: none;
    color: #000;
    *padding:13px 20px;
    padding:13px 10px 0px 10px;
}





*/







#mainmenu{
    position: relative;
      
    padding: 0;
    background-color: #D5D9DA;
    z-index: 10;
    width: 100%;
    min-width: 1024px;
}

#mainmenu ul, /* сбрасываем поля и отступы у списков */
#mainmenu ul ul {
    list-style:none;
    padding:0;
    margin:0;
}

#mainmenu ul {    
    
}

#mainmenu ul li {
    position:relative;
   
    min-height:25px;
    padding-left: 5px;
    padding-top: 5px;
    margin:0;
    background-color: #D5D9DA;
    min-width: 150px;
    display: inline-block;
    vertical-align: middle;
}

#mainmenu ul li:hover > ul{
    
    display: block;
    margin: 0;
}

#mainmenu ul li:hover {
    background-color: silver;
}

#mainmenu ul li ul {
    
    display: none;
    position:absolute;
    left:0;
    top:25px;
    font-size:14px;
    height:auto;
    width:250px;
    border: 0px solid;
    

}

#mainmenu ul li ul li {
    position:relative;
    left:0;
    float:none;
    min-height: 20px;
    height:auto;
    margin:0;
    text-align:left !important;
    border: 0px solid;
    background-color: coral;
    padding-top: 5px;
    min-width: 150px;
    display: block;
}

#mainmenu ul li ul li ul {
    top: 0;
    left: 250px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    background-color: gold;
}

#mainmenu ul li a {
    text-decoration: none;
    color: #000;
    *padding:13px 20px;
    padding:13px 10px 0px 10px;
}