.list-view .items .view {
	margin-bottom: 15px;
	clear: both;
	*display: table;
}

.list-view .items .view .table-cell {
	float: left;
}

.portlet, .list-view, .grid-view  {
	float: left;
}
.breadcrumbs {
	clear: both;
}

.list-view, .grid-view {
	margin-right: 20px; 
}
.pager {
	clear: both;
}

.table-cell {
	*padding: 3px;
	*border-right: 1px solid black;
	*width: 50px;

	*overflow: hidden;
	*display: table-cell;
}

table .view:nth-child(even) {
	background-color: yellow;
}
.span-left {
	float: left;
}