.aldateedit {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: default;
    background-color: white;
    border: 1px solid #c0c0c0;
    //font: 12px 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
}
.dxic {
    padding: 1px 3px 2px 3px;
}

.aldateeditinput {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    box-shadow: none;
    transition: none;
    border-radius: 0px;
    font: inherit;
    line-height: normal;
    outline: 0;
    padding: 0px 1px 0px 0px;
    width: 100%;
    background-color: white;
    color: #333333;
    border-collapse: separate;
    border-spacing: 0;
    border: 0px!important;
    background-position: 0 0;
    box-sizing: content-box;
}

.aldateeditbutton {
    line-height: 100%;
    padding: 0px 2px 0px 3px;
    background-color: white;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.aldateeditbutton:hover {
    background-color: #ff8800;
}

.aldateeditbutton:hover > img {
    background-position: -33px -172px;
}

.aldateeditimg {
    max-width: none;
    display: block;
    margin: auto;
    background-position: -22px -172px;
    width: 10px;
    height: 14px;
    background-image: url('/images/grid/sprites2.png');
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    border-width: 0;
    line-height: 100%;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.aldateeditfocused {
    border: 1px solid #ff8800;
}
